/**** HEADER ****/

.header {
  height: 8rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfffe;
  padding: 0 4rem;
}

.logo {
  height: 2rem;
}

/**** NAVIGATION ****/

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #3d9a59;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  background-color: #3d9a59;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #2e7744;
}

.btn-mobile-nav {
  display: none;
  cursor: pointer;
  border: none;
  background: none;
}

.icon-mobile-nav {
  color: #333;
  font-size: 3.2rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**** HERO SECTION ****/

.section-hero {
  background-color: #fbfffe;
  padding: 4.8rem 4rem 9.6rem 4rem;
  height: calc(100vh - 8rem);
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-text-box {
  font-weight: 500;
}

.hero-description {
  margin-bottom: 4.8rem;
  font-size: 2rem;
  line-height: 1.6;
}
.hero-img-box {
  color: #60f5d4;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  margin-right: -1.6rem;
  border: 2px solid #ecf5ee;
  border-radius: 50%;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #3d9a59;
}

/**** FEATURED IN SECTION ****/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  color: #888;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  filter: brightness(0);
  opacity: 0.5;
}

.logos img {
  height: 3.2rem;
}

/**** HOW IT WORKS SECTION ****/

.section-how {
  padding: 9.6rem 0;
  background-color: #fff;
}

.step-number {
  color: #888;
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.6rem;
  line-height: 1.6;
}

.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #ecf5ee;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #b1d7bd;
}

.step-img {
  width: 35%;
  z-index: 1;
}

/**** MEALS SECTION ****/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  overflow: hidden;
  transition: all 0.3s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.14);
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 3px;

  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.tag--vegetarian {
  background-color: #3d9a59;
}
.tag--vegan {
  background-color: #1bca4f;
}
.tag--paleo {
  background-color: #e3e63e;
  color: #333;
}

.meal-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.meal-attribute {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.meal-icon {
  color: #2e7744;
  font-size: 2rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.list-icon {
  color: #048f2e;
  font-size: 2.4rem;
}

.all-recipies {
  text-decoration: none;
  text-align: center;
  font-size: 1.8rem;
}

/**** TESTIMONIALS SECTION ****/

.section-testimonials {
  display: grid;
  grid-template-columns: 60fr 40fr;
  align-items: center;
  background-color: #f2fbf5;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 6rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #2e7744;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.2);
}

/**** PRICING SECTION ****/

.section-pricing {
  padding: 9.6rem 0;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.pricing-plan {
  width: 70%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  transition: all 0.3s;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #f2fbf5;
  padding: 4.6rem;
}

.pricing-plan--complete {
  position: relative;
  background-color: #f2fbf5;
  padding: 4.8rem;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 5%;
  right: -16%;
  background-color: #e3e63e;
  color: #333;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.8rem 6.4rem;
  transform: rotate(45deg);
}

.plan-name {
  color: #048f2e;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  color: #333;
  font-size: 6.2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  color: #636363;
  font-size: 1.6rem;
  line-height: 1.6;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
}

.feature-icon {
  background-color: #f2fbf5;
  color: #048f2e;
  font-size: 3rem;
  border-radius: 50%;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
}

.feature-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.6rem;
  line-height: 1.8;
}

/**** CTA SECTION ****/

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #56ad70, #95d6a8);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #2e3d28;
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(124, 192, 144, 0.452),
      #2e774441
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  transition: all 0.3s;
}

.cta-form input,
.cta-form select {
  width: 100%;
  background-color: #f2fbf5;
  color: inherit;
  font-family: inherit;
  font-size: 1.8rem;
  padding: 1rem;
  border: none;
  border-radius: 9px;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  columns: #ccc;
}

.cta-form input.btn {
  cursor: pointer;
  align-self: end;
  background-color: #2e3d28;
  color: #f2fbf5;
  font-weight: 500;
  border: none;
  transition: all 0.2s;
}

/**** FOOTER SECTION ****/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: repeat(2, 1.5fr) repeat(3, 1fr);
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.social-links ion-icon {
  font-size: 2.4rem;
}

.copyright {
  color: #777;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #777;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
